<li>
    {{id}}.{{name}}

    {{#unless eaten}}

    <button class="monch" data-id="{{this.id}}" data-type="{{this.name}}" data-eaten="{{this.eaten}}" type="submit">Monch!</button>
    {{/unless}}
</li>